@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1F1;
}
/*header cabecalho*/
header > div.logo{
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color:#F44336 ;
    padding: 5px;
}

/*header background*/
header > div.backgroundmenu{
    background-image: url('../imagens/london.jpg');
    width: 100vw;
    height: 637px;
    display: flex;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
/*header quadro*/
header div.quadro  {
    background-color: white;
    width: 80vw;
    display: block;
    margin: auto;
}
/*header quadro menu*/
header  menu{
    display: flex;
    flex-flow: row nowrap;
}
header  menu > a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    flex: auto;
}
header menu > a:first-child{
    background-color: #F44336;
}

header  menu > a > span{
    padding-right: 15px;
}
/* formulario pesquisa*/

header div.pesquisa {
    height: 200px;
}
header div.pesquisa > h2{
    font-size: 2em;
    margin-top: 15px;
    padding: 10px;
}
header form { 
    display: flex;
    
}
form > div { 
    padding: 10px;
    width: 50%;
    
}
header div.pesquisa input{
    height: 40px;
    width: 100%;
}

/*botao da pesquisa*/
header div.pesquisa >  a {
    display: block;
    background-color: #616161;
    width: 180px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    
}
/* imagens */


.container {
    width: 80vw;
    margin: auto;
}

.container h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    margin-bottom: 5px;

}
.container p {
    padding-top: 5px;
    padding-bottom: 15px;
}

.grid {
    display: flex;
    gap: 10px;
    width: 100%;
}

.esquerda {
    flex: 1;
    position: relative;
    
}

.esquerda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.direita {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.direita .grade {
    flex: 1 1 calc(50% - 5px);
    position: relative;
}
.grade img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* overlay */
.overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
}












footer{
    width: 80vw;
    display: block;
    margin: auto;
}
/*ofertas*/
div.oferta{
    background-color: #606060;
    padding: 30px 10px 10px 10px;
    color: white;
}
div.oferta p {
    padding-top: 20px;
    padding-bottom: 20px;
}
div.oferta > form > input {
    display: block;
    padding: 10px;
    width: 100%;
}

div.oferta > form > a{
    display: block;
    background-color: #F38981;
    width: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/*Contato */

div.contato{
    margin: 10px;
    color: #606060;
}
div.contato,  div.contato > h2{
    margin-top: 30px;
    color: #606060;
}
div.contato > p {
    margin-top: 20px;
}
div.contato > form > input{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 5px;
}
div.contato > div.dados {
    display: flex;
    margin-top: 20px;
    flex-flow: column nowrap;
}
div.contato > div.dados > p {
    padding-top: 5px;
}

div.contato > div.dados > p > span{
    color: black;
    font-size: 1em;
    font-weight: bolder;
    padding-right: 20px;
}
div.contato > form > a{
    display: block;
    background-color: black;
    width: 180px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 15px 15px 15px 15px;  
}



/*roda pe final */
div.final{
    font-size: 1em;
    text-align: center;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.048);
    margin-bottom: 30px;
}

div.final > span > a {
    padding: 30px 0px 30px 0px;
    font-size: 1em;
    text-decoration: none;
    color: #606060;
    padding-left: 5px;
}
div.final > p > a {
    color: #606060;
}
