@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1F1;
}
/*header cabecalho*/
header > div.logo{
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color:#F44336 ;
    height: 50px;
}
span#cinza{
    color: #606060;
}

/*header background*/

/*header quadro*/
header div.quadro  {
    background-color: white;
    width: 100%;
    display: block;
    margin: auto;
}
/*header quadro menu*/
header  menu{
    display: flex;
    flex-flow: row nowrap;
}
header  menu > a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 38px;
    flex: auto;
}
header menu > a:first-child{
    background-color: #F44336;
}

header  menu > a > span{
    padding-right: 15px;
    
}

/* formulario pesquisa*/

header div.pesquisa {
    height: 282px;
    
}
header div.pesquisa > p{
    font-size: 1.3em;
    padding: 30px 0px 16px 16px;
    
}
header form { 
    display: flex;
    flex-flow: column nowrap;
}

form > div { 
    padding: 0px 16px 0px 16px;
}

header div.pesquisa input{
    height: 40px;
    width: 100%;
}

/*botao da pesquisa*/
header div.pesquisa >  a {
    display: block;
    background-color: #616161;
    width: 200px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    margin: 16px 0px 16px 16px;
    
}
/* imagens */


.container {
    width: 95%;
    margin: auto;
}

.container h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    margin-bottom: 5px;
    

}
.container p {
    padding-top: 5px;
    padding-bottom: 15px;
}

.grid {
    display: flex;
    flex-flow: column nowrap;
    
}

.esquerda {
    position: relative;
}

.esquerda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.direita {
    display: flex;
    flex-flow: column nowrap;
}

.direita .grade {
    position: relative;
}
.direita img{
    margin-bottom: 10px;
}
.grade img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* overlay */
.overlay {
    position: absolute;
    bottom: 25px;
    left: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 1.2em;
}
/* 2 tela de imagens */

.container2{
    
    width: 95%;
    height: auto;
    margin: auto;
    
}
.container2 > h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    margin-bottom: 5px;
    

}
.containe2 > p {
    padding-top: 5px;
    padding-bottom: 15px;
}

.grade2{
    display: flex;
    margin-top: 10px;
    gap: 15px;
    height: auto;
    flex-flow: column wrap;
}
.esquerda1{
    background-color: white;
    width: 100%;
    height: auto;
    
}
.esquerda2{
    background-color: white;
    width: 100%;
    height: auto;
}
.grade2 img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    
}

.descricao > h2 , .descricao > p{
    padding: 15px;
    color: #606060;

}
.descricao > a {
    display: block;
    color: #606060;
    text-decoration: none;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
}
/*footer*/
footer{
    width: 95%;
    display: block;
    margin: auto;
}
/*ofertas*/
div.oferta{
    margin-top: 30px;
    background-color: #606060;
    padding: 30px 10px 10px 10px;
    color: white;
}
div.oferta p {
    padding-top: 20px;
    padding-bottom: 20px;
}
div.oferta > form > input {
    display: block;
    padding: 10px;
    width: 100%;
}

div.oferta > form > a{
    display: block;
    background-color: #F38981;
    width: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/*Contato */

div.contato{
    margin: 10px;
    color: #606060;
}
div.contato,  div.contato > h2{
    margin-top: 30px;
    color: #606060;
}
div.contato > p {
    margin-top: 20px;
}
div.contato > form > input{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 5px;
}
div.contato > div.dados {
    display: flex;
    margin-top: 20px;
    flex-flow: column nowrap;
}
div.contato > div.dados > p {
    padding-top: 5px;
}

div.contato > div.dados > p > span{
    color: black;
    font-size: 1em;
    font-weight: bolder;
    padding-right: 20px;
}
div.contato > form > a{
    display: block;
    background-color: black;
    width: 180px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 15px 15px 15px 15px;  
}



/*roda pe final */
div.final{
    font-size: 1em;
    text-align: center;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.048);
    margin-bottom: 30px;
}

div.final > span > a {
    padding: 30px 0px 30px 0px;
    font-size: 1em;
    text-decoration: none;
    color: #606060;
    padding-left: 5px;
}
div.final > p > a {
    color: #606060;
}
